.progress[data-full=true]::-webkit-progress-value {
	background-image: linear-gradient(135deg, rgba(0,0,0,0) 85%, rgba(192,192,192,1) 85%, rgba(192,192,192,1) 87%, rgba(255,255,255,1) 87%, rgba(255,255,255,1) 92%, rgba(192,192,192,1) 92%, rgba(192,192,192,1) 94%, rgba(0,0,0,0) 94%);
}

.notification {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 300px;
}
